@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.bg-image-light {
  background-image: url(http://localhost:5000/images/light_bg.jpg);
}

.bg-image-dark {
  background-image: url(http://localhost:5000/images/dark_bg.jpg);
}
